In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[19, 14,  5],
       [ 9,  6,  8],
       [19, 10, 12],
       [ 5, 16,  5],
       [ 1,  8, 17]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  19  14   5
1   9   6   8
2  19  10  12
3   5  16   5
4   1   8  17

In [5]:
## DEPRICATED ##
# pd.util.testing.makeDataFrame().head()

In [6]:
n_rows = 30 
n_cols = 4 
columns = list('ABCD')

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=columns)

print(df.head())

          A         B         C         D
0  1.017720  1.255757  0.417024  1.331506
1 -0.048124  0.150425 -0.317431  2.344448
2  0.988270 -1.140734 -0.589048  0.092424
3 -0.372138  0.134651 -2.838665 -1.143986
4 -0.675669  1.349801 -1.335382 -0.108920

In [7]:
## DEPRICATED ##
# pd.util.testing.makeMixedDataFrame().head()

In [8]:
n_rows = 5 

data = {
    'A': np.random.randn(n_rows),                 
    'B': np.arange(1, n_rows + 1),                
    'C': pd.date_range('2024-01-01', periods=n_rows), 
    'D': ['foo', 'bar', 'baz', 'qux', 'quux']    
}

df = pd.DataFrame(data)

print(df.head())

          A  B          C     D
0 -0.320816  1 2024-01-01   foo
1  0.458367  2 2024-01-02   bar
2 -1.392578  3 2024-01-03   baz
3  0.603092  4 2024-01-04   qux
4 -0.187046  5 2024-01-05  quux

In [9]:
## DEPRICATED ##
# pd.util.testing.makeTimeDataFrame().head()

In [10]:
n_rows = 30  
n_cols = 4   
columns = list('ABCD')  

time_index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')  

df = pd.DataFrame(np.random.randn(n_rows, n_cols), index=time_index, columns=columns)

print(df.head())

                   A         B         C         D
2024-01-01 -0.061421  0.359599 -1.614416 -0.970924
2024-01-02  0.305722 -0.195799 -0.614969 -2.069504
2024-01-03 -1.221747  0.553530 -1.185717 -0.722103
2024-01-04  0.092614 -0.005844 -0.661138 -0.752248
2024-01-05 -0.861110 -0.330140  0.151295  0.741618

In [11]:
## DEPRICATED ##
# pd.util.testing.makeMissingDataframe().head()

In [12]:
n_rows = 5
n_cols = 4

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=list('ABCD'))

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 0] = np.nan

print(df.head())

          A         B         C         D
0 -1.215929       NaN -0.743259 -0.623159
1 -1.133112  0.365297 -1.019515 -0.292752
2  0.245984  1.093978  0.276398       NaN
3  0.700290  2.095230  0.389093 -1.508282
4       NaN -1.157097  0.756452  1.819298