In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
## DEPRECATED ##
# n_rows = 365
# n_cols = 2
# cols = ['col1', 'col2']

# df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
#                   columns=cols)

# df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
# df

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

print(df)

            col1  col2
2024-01-01     1    12
2024-01-02     3    18
2024-01-03    13     8
2024-01-04     4    18
2024-01-05     9    13
...          ...   ...
2024-12-26     8     5
2024-12-27     3    13
2024-12-28     9    16
2024-12-29     7     9
2024-12-30     1    12

[365 rows x 2 columns]

In [4]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01     1    12
2024-01-02     3    18
2024-01-03    13     8
2024-01-04     4    18
2024-01-05     9    13
2024-01-08     2     3
2024-01-09    10    17

In [5]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2024-01-06    15    13
2024-01-07    19    11
2024-01-13     2    18
2024-01-14    17    14
2024-01-20    18    18
2024-01-21     3    10
2024-01-27     1    10