In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [ ]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

In [5]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [7]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        9        5        9        8
1        9        9        2        1        5
2        8        4        2        3        5
3        1        6        9        5        7
4        5        1        3        7        7

In [13]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        4        9        5        9        8
1        9        9        2        1        5
2        8        4        2        3        5
3        1        6        9        5        7
4        5        1        3        7        7